<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Company</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
</head>
<section class="p-5">
    <body>
    <div align="center">
        <h1>Company</h1>
        <div align="center" class="table-responsive-sm">
            <div align="center" class="p-2">
                <a href="/company/create" role="button" class="btn btn-primary">Insert Data Company</a>
            </div>
            <table class="table" style="width: auto">
                <thead>
                <tr>
                    <th scope="col">ID</th>
                    <th scope="col">Nama Company</th>
                    <th scope="col">Alamat Company</th>
                    <th scope="col" style="width: 25%">Action</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="company : ${listCompany}">
                    <td th:text="${company.id}">ID</td>
                    <td th:text="${company.nama}">Nama company</td>
                    <td th:text="${company.alamat}">Atasan ID company</td>
                    <td>
                        <a th:href="'/company/edit/' + ${company.id}" role="button" class="btn btn-warning">Edit</a>
                        &nbsp; &nbsp; &nbsp;
                        <a th:href="'/company/delete/' + ${company.id}" role="button" class="btn btn-danger">Delete</a>
                    </td>
                </tr>
                </tbody>
            </table>
            <div align="center" class="p-2">
                <a href="reportPDFCompany" role="button" class="btn btn-primary">Export Data PDF</a>
                <a href="reportExcelCompany" role="button" class="btn btn-primary">Export Data Excel</a>
            </div>
        </div>
        <a href="/" role="button" class="btn btn-primary">Kembali</a>
    </div>
    </body>
</section>
</html>