<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
</head>
<section class="p-5">
    <body>
        <div align="center">
            <h1>Employee</h1>
                <div align="center" class="table-responsive-sm">
                    <div align="center" class="p-2">
                        <a href="/employee/create" role="button" class="btn btn-primary">insert data employee</a>
                    </div>
                    <table class="table" style="width: auto">
                        <thead>
                        <tr>
                            <th scope="col">ID</th>
                            <th scope="col">Nama</th>
                            <th scope="col">Nama Atasan</th>
                            <th scope="col">Company</th>
                            <th scope="col" style="width: 25%">Action</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr th:each="employee : ${listEmployee}">
                            <td th:text="${employee.id}">ID</td>
                            <td th:text="${employee.nama}">Nama</td>
                            <td th:text="${employee.atasan_id}">Atasan ID</td>
                            <td th:text="${employee.company_id}">Company ID</td>
                            <td>
                                <a th:href="'/employee/edit/' + ${employee.id}" role="button" class="btn btn-warning">Edit</a>
                                &nbsp; &nbsp; &nbsp;
                                <a th:href="'/employee/delete/' + ${employee.id}" role="button" class="btn btn-danger">Delete</a>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                    <div align="center" class="p-2">
                        <a href="reportPDF" role="button" class="btn btn-primary">Export Data PDF</a>
                        <a href="reportExcel" role="button" class="btn btn-primary">Export Data Excel</a>
                    </div>
            </div>
                <a href="/" role="button" class="btn btn-primary">Kembali</a>
        </div>
    </body>
</section>
</html>